.sidebar {
  width: 90px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1b1b1b;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
  z-index: 1; 
}

.sidebar.active {
  width: 200px;
  z-index: 2;
}

.toggle-button {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  z-index: 3; 
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  margin-left: -10.5%;
  padding: 19px;
  margin-top: -6px;
  color: white;
  width: 105%;
  z-index: 2;
  transition: background-color 0.2s;
  overflow: hidden;
}

.sidebar-content::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores basados en WebKit */
}

.sidebar.active .sidebar-content {
  align-items: flex-start; 
  margin: auto;
}

.sidebar-content ul {
  margin-left: -10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-content ul li {
  margin-left: -20px;
  display: flex;
  align-items: center;
  padding: 8% 14px 21% 10px;
  cursor: pointer;
  opacity: 1;
  flex-direction: column;
  transition: margin-left 0.5s, padding 0.5s, background-color 0.2s; 
}

.sidebar-content ul li:hover {
  background-color: rgba(255, 255, 255, 0.131);
  opacity: 1; 
}

.sidebar-content ul li.sidebar-item-active {
  margin-left: -19px;
  padding: 15px 177% 20px 15px;
  flex-direction: row;
}

.icon-container {
  align-items: center;
  margin-right: 5%; /* Cambiado a porcentaje */
  margin-bottom: 5px; /* Espacio entre el icono y el texto */
  transition: margin-right 0.3s ease; /* Agrega una transición a margin-right */
  color: #F1ECE7;
}

a {
  text-decoration: none;
}

.icon-container.sidebar-item-active {
  align-items: center;
  margin-right: -5%; /* Cambiado a porcentaje */
}

li span {
  color: white;
  font-size: 12px;
  margin-left: -6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0.8; 
  transition: font-size 0.5s;
}

li span.sidebar-item-active {
  color: white;
  font-size: 16px;
  margin-left: 20px;
  margin-top: -6px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  opacity: 0.8; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
  z-index: 1; /* Asegurarse de que el overlay esté debajo de la barra lateral */
  background-color: rgba(0, 0, 0, 0.568); /* Asegurarse de que el overlay sea visible */
}

.overlay.active {
  z-index: 2; /* Asegurarse de que el overlay activo esté por encima de la barra lateral */
}

.images-container {
  position: fixed;
  top: 13.5%;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.button-Logout {
  position: absolute;
  background-color: #ff3f1d;
  width: 125%;
  height: 10%;
  margin-left: -11px;
  top: 83.3%;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-Logout:hover {
  background-color: #ff0000;
}

/* Estilos para la vista móvil */
@media screen and (max-width: 480px) {
.sidebar {
    height: 55px;
    width: 100%;
    bottom: 0;
    top: auto;
    flex-direction: row;
    padding-top: 10px;
  }

  .sidebar-content {
    flex-direction: row;
    justify-content: space-around;
    margin-left: -14%;
    margin-top: -15px;
    width: 80%;
  }

  .sidebar-content ul {
    flex-direction: row;
    width: 100%;
  }

  .sidebar-content ul li {
    flex-direction: column;
    margin: 0 10px;
    margin-top: 9px; 
 }

  .button-Logout {
    position: absolute;
    bottom: 10px;
    left: 92%;
    top: -3%;
    height: 67px;
    width: 5px;
    transform: translateX(-50%);
  }
}
  